.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page .title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.home-page .logo {
  width: 25vw;
  height: auto;
}

.home-page .filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
  gap: 3rem;
  font-size: 0.7rem;
}

.home-page .filter-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 15vw;
  height: 5vh;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}

.home-page .filter-option:hover {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) translateZ(160px) translateZ(0) translateZ(160px);
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.home-page .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin: 4rem 5rem;
}

.home-page .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 12vw;
  height: 32vh;
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 2px 6px 0px #fff;
  box-shadow: 1px 2px 6px 0px #fff;
  border: #fff solid 1px;
}

.home-page .card-info img {
  width: 10vw;
  height: auto;
}

.home-page .vehicle-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px;
}

.home-page p:nth-child(1) {
  text-transform: uppercase;
}
