.connexionUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
  margin-top: 20vh;
}

.connexion-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 1px rgba(123, 197, 198, 0.78);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(123, 197, 198, 0.78);
  -moz-box-shadow: 0px 0px 8px 1px rgba(123, 197, 198, 0.78);
  color: #7bc5c6;
  width: 30vw;
  height: 45vh;
  border-radius: 25px;
  gap: 4vh;
  margin-bottom: 5vh;
  margin-top: 3vw;
}

.connexion-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vh;
}

.connexion-input input,
.connexion-button button {
  padding: 1rem;
  border-radius: 10px;
  border: #7bc5c6 1px solid;
  background: white;
  color: #7bc5c6;
  width: 20vw;
  height: 2vh;
  box-shadow: rgba(0, 0, 0, 0);
  outline: none;
}

.connexion-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #7bc5c6;
  color: #ffffff;
  width: 14vw;
  cursor: pointer;
}

.connexion-candidat .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  font-size: 1.6em;
}

.connexion-candidat .title h1,
h3 {
  color: #ff5400;
  font-weight: bold;
  margin: 0;
  font-size: 2em;
}

.connexion-form .forget-password {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 0;
  width: 100%;
}

.connexion-form .forget-password a {
  color: #7bc5c6;
  font-size: 0.7em;
}

.connexion-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  width: 20vw;
}
